@{
    ViewData["Title"] = "Privacy";
}

<h1>@ViewData["Title"]</h1>
<br />
<h3>Todos direitos reservados ao desenvolvedor Lucas Ramos</h3>
<br />
<address>
    <strong>Outlook:</strong> <a href="mailto:lucasa7xadriano@outlook.com">lucasa7xadriano@outlook.com</a>
</address>
<address>
    <strong>Gmail:</strong> <a href="mailto:lucas2adriano@gmail.com">lucas2adriano@gmail.com</a>
</address>
<address>
    <strong>Linkedin:</strong> <a href="https://www.linkedin.com/in/devlucasramos">linkedin/devLucasRamos</a>
</address>
<address>
    <strong>Gmail:</strong> <a href="https://github.com/devLucasRamos">github/devLucasRamos</a>
</address>